[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[requires]
python_version = "3.7"

[packages]
django = "~=2.2.3"
django-environ = "~=0.4.5"
psycopg2 = "~=2.8.5"
waitress = "~=1.4.3"
whitenoise = "~=5.0.1"
django-cors-headers = "~=3.4.0"
djangorestframework = "~=3.11.0"
Markdown = "~=3.2.2"
django-filter = "~=2.3.0"
djoser = "~=2.0.3"
django-extensions = "~=2.2.9"
packaging = "*"
drf-yasg = "~=1.17.1"
fcm-django = "~=0.3.4"
Pillow = "~=7.2.0"
pytest = "~=5.4.3"
factory-boy = "~=2.12.0"
channels = "==2.4.0"
channels-redis = "==3.1.0"
django-storages = "~=1.10.1"
boto3 = "~=1.14.60"
Cython = "~=0.29.21"
django-bootstrap4 = "~=1.1.1"
django-allauth = "~=0.42.0"
django-rest-auth = "~=0.9.5"
pyyaml = "~=5.3.1"
psycopg2-binary = "*"
daphne = "==2.5.0"
asgiref = "==3.3.4"
aioredis = "==1.3.1"
autobahn = "==21.2.1"
cryptography = "*"
