
{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block css %}
<link rel="stylesheet" href={% static 'css/login.css' %} >
{% endblock %}
{% block content %}
<div class="container login-container">
    <div class="col-md-6 offset-md-3 mt-3">
        <div id="image" style="text-align: center; margin-bottom: 50px;">
            <img class="img-fluid pencil" src="{% static 'img/logo.png' %}"
                 alt="Built with software packages from crowdbotics.com" width="200">
            <h6>Remote freelance jobs for students</h6>
        </div>


        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
                {% bootstrap_form form %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %}</button>
        </form>
        <div class="login-footer">
            <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Sign In</a>.{% endblocktrans %}</p>

        </div>
    </div>
</div>
    {% endblock %}

